Repository JosiahBull/minilate: changes, and which pre-commit hooks are due for each by the changed paths.
All: Lint Rust Code, Lint Shell Scripts

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: debug-statements
      - id: detect-private-key
      - id: mixed-line-ending
      - id: pretty-format-json
        args: ["--autofix"]
        exclude: ".devcontainer/devcontainer.json"
      - id: check-case-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
        files: ".*\\.(?:tex|py)$"
  - repo: local
    hooks:
      - id: Lint Rust Code
        name: Run linting script
        language: script
        entry: ./scripts/lint.sh
        files: "\\.rs$"
        pass_filenames: false
      - id: Lint Shell Scripts
        name: Run shellcheck
        language: system
        entry: shellcheck
        types: [file]
        files: "\\.sh$"

chore: add clippy to CI toolchain.
  .github/workflows/ci.yaml
Due: none

chore: add stable to rust-toolchain install tool.
  .github/workflows/ci.yaml
Due: none

chore: add semver checks.
  .github/workflows/ci.yaml
  .rust-toolchain.toml
  Cargo.toml
  scripts/lint.sh
  src/engine.rs
  src/interface.rs
  src/template.rs
Due: Lint Rust Code, Lint Shell Scripts

fix(ci): toolchain install issues.
  .github/workflows/ci.yaml
  .rust-toolchain.toml
  Cargo.toml
Due: none

feat: make CI faster.
  .github/workflows/ci.yaml
Due: none

chore: change ordering of toolchain installation.
  .github/workflows/ci.yaml
Due: none

chore: add stable to rust-toolchain install tool. (#1)
  .github/workflows/ci.yaml
  .rust-toolchain.toml
  Cargo.toml
  scripts/lint.sh
  src/engine.rs
  src/interface.rs
  src/template.rs
Due: Lint Rust Code, Lint Shell Scripts

chore: improve documentation further.
  Cargo.lock
  Cargo.toml
  README.md
  src/ast.rs
  src/engine.rs
  src/error.rs
  src/interface.rs
  src/parser.rs
  src/template.rs
Due: Lint Rust Code

Update src/error.rs
  src/error.rs
Due: Lint Rust Code

chore: fix lints.
  scripts/lint.sh
  src/error.rs
  src/lib.rs
Due: Lint Rust Code, Lint Shell Scripts

fix(lint.sh): properly pipe output into null.
  scripts/lint.sh
Due: Lint Shell Scripts

ci: run tests if scripts change.
  .github/workflows/ci.yaml
Due: none

chore: fine-tune CI versioning.
  .github/workflows/ci.yaml
Due: none

chore: ran pre-commit against all files.
  .github/workflows/actionlint.yaml
  .github/workflows/ci.yaml
  benches/template_handlebars.hbs
  benches/template_minijinja.jinja
  benches/template_minilate.tmpl
Due: none

chore: improve documentation further. (#2)
  .github/workflows/actionlint.yaml
  .github/workflows/ci.yaml
  Cargo.lock
  Cargo.toml
  README.md
  benches/template_handlebars.hbs
  benches/template_minijinja.jinja
  benches/template_minilate.tmpl
  scripts/lint.sh
  src/ast.rs
  src/engine.rs
  src/error.rs
  src/interface.rs
  src/lib.rs
  src/parser.rs
  src/template.rs
Due: Lint Rust Code, Lint Shell Scripts

chore: add `renovate.json` file properly to exclude list for publishing.
  Cargo.toml
Due: none
